* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #A6E3E9;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    width: 100%;
    max-width: 100%;
    height: 80px;
    align-items: center;
}

.logo img {
    width: 250px;
    object-fit: contain;
}

.item {
    list-style: none;
    display: flex;
}

.item a {
    text-decoration: none;
}

.item a li {
    color: black;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;

}

.item li {
    background: #24b7fc;

    border-radius: 60px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 11px 20px 10px 20px;
    margin: 0 10px;
}

.item li:hover {
    background: #92bbd4;

}



.search-bar {
    align-items: center;
    border-radius: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    padding: 5px 20px;
    width: 50%;

}

.search-bar input {

    background: transparent;
    flex: 1;
    border: 0;
    padding: 10px;
    outline: none;
}

.search-bar .srch {
    width: 100px;
    height: 40px;
    border: 2px solid black;
    background-color: rgb(215, 240, 215);
    border-radius: 60px;

}

.search-bar .srch:hover {
    background-color: rgb(255, 142, 13);
}

.search-bar .srch a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1rem;
}



.images img {
    width: 100%;
}

.flex {
    display: flex;
    background-color: #92bbd4;



}

.flex #aa {
    width: 200px;
    height: 50px;
    display: flex;
    margin: 10px;
}

.container {
    border: 1px solid black;
    border-radius: 15px;
    width: 25%;
    margin: 50px 10px;
    padding: 10px;

}

.container img {
    width: 250px;
    max-width: 300px;
    /* min-width: auto; */
}

.container h4 {
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    display: contents;

}

.container a {
    text-decoration: none;
    color: #000000
}

.top {
    background-color: #fff;

}

.middle {
    background-color: #fff;
}

.bottom {
    background-color: #fff;

}

.last {
    background-color: #fff;
}

hr {
    border: 3px dashed rgb(77, 73, 73);
    border-bottom: 0px;
    width: 50px;
    margin-left: 650px;
}

.fot {
    background-color: skyblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: fixed; */
}

.fot .contact {

    width: 100px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(188, 233, 233);
}

.fot .contact:hover {
    background: #8cb2c9;


}

.fot .contact h3 {
    color: rgb(247, 98, 48);
    text-align: center;
}

.social-media ul {
    display: flex;
    justify-content: center;

}

.social-media ul li {
    margin: 10px;
    list-style: none;
}

.social-media ul li a {
    /* text-decoration: none; */
    color: #3b14ec;
}

.copy-text {
    font-size: small;
    color: gray;
}

.content {
    height: 90vh;
    padding: 10px;
    display: flex;
    align-items: center;
}

.content #about {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.cont-body {
    background-color: #e2eef3;
}

.contact-form {
    background-color: rgb(198, 213, 226);
    width: 300px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.contact-but {
    margin: 10px 90px;
    border-radius: 5px;
    outline: none;
}


#about-us {
    font-size: 25px;
    text-align: center;
    font-family: 'Fasthand', cursive;
}